{% if widget_type == 'review_dex_all_review_panel' %}
<div id="review_dex_widget_info" class="{{shop.domain}} {{widget_type}}"></div>
{% endif %}
{% if widget_type == 'review_dex_review_panel' %}
<div id="review_dex_widget_info" class="{{shop.domain}} {{widget_type}} {{product.id}}"></div>
{% endif %}
<div class="review_dex_section">
        <h1 class="review_dex_header">REVIEWS</h1>
        <p class="review_dex_description">
          Here's What some of Our Happy Customers Have to Say About Us!
        </p>
        <div class="review_dex_container">
          <div class="review_dex_nav">
            <div class="review_dex_stars">
              <input name="rating" type="number" value="5"/>
            </div>
            <p id="review_dex_total_reviews"></p>
            <button id="review_dex_dropdown_btn"><span class="material-icons-outlined "> expand_more </span></button>
            <button id="review_dex_write_review_btn">Write Review</button>
            <button id="review_dex_sort_btn"><span class="material-icons-outlined "> tune </span></button>
            <div id="review_dex_sort_dropdown">
              <h1>Sort</h1>
              <p>By date <span class="material-icons-outlined "> done </span></p>
            </div>
            <div id="review_dex_dropdown">
              <p><span class="material-icons-outlined"> star </span></p>
              <div class="review_dex_merchant_info">
                <div class="review_dex_stars">
                  <input name="rating" type="number" value="5"/>
                </div>
                <div class="review_dex_progress_bar" id="review_dex_5_progress_bar">
                  <div></div>
                </div>
                <p class="review_dex_review_count" id="review_dex_5_review_count"></p>
                <div class="review_dex_stars">
                  <input name="rating" type="number" value="4"/>
                </div>
                <div class="review_dex_progress_bar" id="review_dex_4_progress_bar">
                  <div></div>
                </div>
                <p class="review_dex_review_count" id="review_dex_4_review_count"></p>
                <div class="review_dex_stars">
                  <input name="rating" type="number" value="3"/>
                </div>
                <div class="review_dex_progress_bar" id="review_dex_3_progress_bar">
                  <div></div>
                </div>
                <p class="review_dex_review_count" id="review_dex_3_review_count"></p>
                <div class="review_dex_stars">
                  <input name="rating" type="number" value="2"/>
                </div>
                <div class="review_dex_progress_bar" id="review_dex_2_progress_bar">
                  <div></div>
                </div>
                <p class="review_dex_review_count" id="review_dex_2_review_count"></p>
                <div class="review_dex_stars">
                  <input name="rating" type="number" value="1"/>
                </div>
                <div class="review_dex_progress_bar" id="review_dex_1_progress_bar">
                  <div></div>
                </div>
                <p class="review_dex_review_count" id="review_dex_1_review_count"></p>
              </div>
            </div>
          </div>
          <div class="review_dex_content">
          </div>
        </div>
      </div>
      <div class="review_dex_add_more_review">
        <button id="review_dex_add_more_review_btn">
          Show More Reviews
        </button>
      </div>
      <div class="review_dex_modal">
        <div class="review_dex_modal_container">
          <button id="review_dex_model_cls_btn"><span class="material-icons "> close </span></button>
          <div class="review_dex_model_img">
            <img src="" alt=""/>
          </div>
          <div class="review_dex_model_content">
            <div class="review_dex_model_content_header">
              <div class="review_dex_model_content_header_1">
                <p></p>
                <div class="review_dex_stars">
                  <input name="rating" type="number" value="1"/>
                </div>
              </div>
              <div class="review_dex_model_content_header_2">
                <p></p>
                <p></p>
              </div>
            </div>
            <p></p>
            <div class="review_dex_model_content_footer">
              <div class="review_dex_product">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="review_dex_write_modal" >
        <div class="review_dex_write_modal_container">
          <button id="review_dex_write_model_cls_btn"><span class="material-icons "> close </span></button>
          <form id="review_dex_write_form">
            <div class="review_dex_form">
              <div id="review_dex_form_section-1">
                <p>HOW WOULD YOU RATE THIS ITEM?</p>
                <button id="review_dex_form_rating_no_5">
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span> 
                  Love it!
                </button>
                <button id="review_dex_form_rating_no_4">
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star_border</span> 
                  Like it
                </button>
                <button id="review_dex_form_rating_no_3">
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star_border</span>
                  <span class="material-icons-outlined">star_border</span> 
                  It's ok
                </button>
                <button id="review_dex_form_rating_no_2">
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star_border</span>
                  <span class="material-icons-outlined">star_border</span>
                  <span class="material-icons-outlined">star_border</span> 
                  Didn't like it
                </button>
                <button id="review_dex_form_rating_no_1">
                  <span class="material-icons-outlined">star</span>
                  <span class="material-icons-outlined">star_border</span>
                  <span class="material-icons-outlined">star_border</span>
                  <span class="material-icons-outlined">star_border</span>
                  <span class="material-icons-outlined">star_border</span> 
                 Hate it
                </button>
                <input id="review_dex_form_rating" type="number" name="rating"  style="display: none;"/>
              </div>
              <div id="review_dex_form_section-2">
                <h1>SHOW IT OFF</h1>
                <p>WE'D LOVE TO SEE IT IN ACTION!</p>
                <div>
                  <input id="review_dex_form_img" type="file" name="myImage" />
                  <label for="review_dex_form_img"> Choose Photo</label>
                </div>
                <div class="review_dex_section_end"></div>
                <a class="review_dex_section_back" href="#review_dex_form_section-1">Back</a>
                <a class="review_dex_section_next" href="#review_dex_form_section-3">Next</a>
              </div>
              <div  id="review_dex_form_section-3">
                <h1>TELL US MORE!</h1>
                <p>Title</p>
                <input type="text" name="title" required/>
                <p>Body</p>
                <textarea rows = "5" cols = "60" name = "body" required>
                </textarea>
                <a class="review_dex_section_back" href="#review_dex_form_section-2">Back</a>
                <a class="review_dex_section_next" href="#review_dex_form_section-4">Next</a>
              </div>
              <div id="review_dex_form_section-4">
                <input type="text" name="about" value="{{ product.handle }}" style="display: none;"/>
                <input type="text" name="product_id" value="{{ product.id }}" style="display: none;"/>
                <input type="text" name="product_img" value="{{ product.featured_image }}" style="display: none;"/>
                <h1>About you</h1>
                <p>Your Name</p>
                <input type="text" name="name" required/>
                <p>Your Email</p>
                <input type="email" name="email" required/>
                <p>By submitting, I acknowledge the Terms of Service and Privacy Policy and that my review will be publicly posted and shared online</p>
                <button class="review_dex_form_submit_btn" type="submit">Submit</button>
                <a class="review_dex_section_back" href="#review_dex_form_section-3">Back</a>
              </div>
            </div>
          </form>
        </div>
</div>
